<h1>Listing users_artist_ratings</h1>

<table>
  <tr>
    <th>Artist</th>
    <th>User</th>
    <th>Rating</th>
    <th></th>
    <th></th>
  </tr>

<% @users_artist_ratings.each do |users_artist_rating| %>
  <tr>
    <td><%= users_artist_rating.artist_id %></td>
    <td><%= users_artist_rating.user_id %></td>
    <td><%= users_artist_rating.rating %></td>
    <td><%= link_to 'Show', users_artist_rating %></td>
    <td><%= link_to 'Edit', edit_users_artist_rating_path(users_artist_rating) %></td>
    <td><%= link_to 'Destroy', users_artist_rating, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Users artist rating', new_users_artist_rating_path %>
