<%= form_for(@similar_artist) do |f| %>
  <% if @similar_artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@similar_artist.errors.count, "error") %> prohibited this similar_artist from being saved:</h2>

      <ul>
      <% @similar_artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :artist1_id %><br />
    <%= f.number_field :artist1_id %>
  </div>
  <div class="field">
    <%= f.label :artist2_id %><br />
    <%= f.number_field :artist2_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
