<!DOCTYPE html>
<html>
<head>
  <title>Concert Recommendation</title>
  <%= stylesheet_link_tag "main" %>
</head>
<body>
<div id="banner" >
<h1 class = "page_title">Concert Recommendation System</h1>
<table>
  <tr>
    <td>
      <% if session[:id] %>
        Welcome <%= User.find(session[:id]).username %>!   </td>
        <td><%= link_to "Logout", logout_path %></td>
      <% else %>
        <%= link_to "Login", login_path %>  |   New User? <%= link_to 'Sign Up', new_user_path %>     </td>
      <% end %>
  </tr>
</table>
  </div>
 <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
          <hr>
 <% end %>
<%= yield %>

</body>
</html>
